# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# MacOS specific files
.DS_Store

# npm package-lock
package-lock.json